img {
  transition: filter 0.3s ease-in-out, transform 0.05s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

img:hover {
  cursor: pointer;
  filter: contrast(120%);
  box-shadow: 0 0 10px 2px #00d2a8;
}

img:active {
  transition: all 0.05s ease-in;
  transform: scale(0.9);
  box-shadow: 0 0 1px 2px #00d2a8;
  filter: contrast(100%);
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0.95;
    transform: translateY(0);
  }
}

.general-container-animate {
  animation: slideDownFadeIn 1s ease-out forwards;
}
